selenium~=4.22.0
requests~=2.32.3
playsound~=1.2.2
typing~=3.7.4.3
webscout~=4.7
rich~=12.6.0
openai~=1.1.0
opencv-python~=4.10.0.84
winotify~=1.1.0
automation~=0.6.1
PyAutoGUI~=0.9.54
psutil~=6.0.0
pywhatkit~=5.4
textblob~=0.18.0.post0